
body {
    font-family:'Lucida Sans';
    background-color: teal;
}

.Bengals {
    height: 250px;
    width: 250px;
}

table {
    font-family: Arial;
    font-weight: bold;
}

.Interstellar {
    height: 450px;
    width: 450px;
}
