@import url('https://fonts.googleapis.com/css?family=Tilt+Prism');

body {
    font-family:'Lucida Sans';
    background-color: teal;
    font-size: 14px;
}

.Bengals {
    height: 250px;
    width: 250px;
}

table {
    font-family: Arial;
    font-weight: bold;
}

.Interstellar {
    height: 450px;
    width: 450px;
}

.input2 {
    width: 50px;
    height: 100px;
}
.container-A {
    height: 70px;
    background-color: black;
    color: white
}

.tilt {
    font-family:'Tilt Prism';
}